section{
    text-align: center;
}

.griglia, .tast{
    margin: auto;
    width: 25%;
}


body{
    background-color: black;
}

tr, td{
    border: 3px, solid, grey;
}

.num{
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: larger;
}

.conferma{
    background-color: green;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: larger;
}

.tastiera{
    background-color: grey;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: larger;
}

.canc{
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: larger;
}

#giusto{
    background-color: green;
}

#quasi{
    background-color: orange;
}

p, pre{
    font-size: large;
    color:white;
}

header{
    text-align: center;
    font-size: 200%;
    color: white;
}

h1{
    color:white;
    font-size: larger;
    text-align: center;
}

.link{
    background-color: purple;
    color: white;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
